
/DynamoSoft_Task/.vs
/DynamoSoft_Task/bin
DynamoSoft_Task/DynamoSoft_Task.http
/DynamoSoft_Task/obj
/DynamoSoft_Task_FrontEnd/dynamosoft_task_frontend/.next
/DynamoSoft_Task_FrontEnd/dynamosoft_task_frontend/node_modules
DynamoSoft_Task_FrontEnd/test.txt
/DynamoSoft_Task_FrontEnd/dynamosoft_task_frontend/public
/DynamoSoft_Task_FrontEnd/dynamosoft_task_frontend/node_modules
